a {
  cursor: pointer;
}

.avatar {
	margin-right: 9px;
  margin-top: 15px;
}
.page-header .page-date {
	font-size: .5em;
}

.title small {
	margin-top:.4em;
	display: block;
}

.icon-bar {
  font-size: 1.5em;
}

ul.inline li {
  display: inline;
  list-style: none;
  padding-right: .5em;
}