---
layout: default
icon: coffee
title: |
  French Press
description: Diary of a common cafe nerd
hidenavbar: true
---

<div class="row">
<div class="col-sm-6 post-list">
  <h2>{% include icon.html icon="clock-o" %} latest <small><a href="/latest/"> more</a></small></h2>
  <ul class="nav nav-pills nav-stacked">
  {% for post in site.posts limit:5 %}
    <li>{% include post_link.html post=post %}</li>
  {% endfor %}
  </ul>
</div>

<div class="col-sm-6">
  <h2>{% include icon.html icon="th-large" %} sections</h2>
  <ul class="nav nav-pills nav-stacked">
  {% for post in site.pages %}{% if post.tags contains "main" and post.url != page.url and post.title != null %}
    <li><a href="{{post.url}}">{% include post_icon.html post=post fixed=true %} {{post.title}}</a></li>
  {% endif %}{% endfor %}
  </ul>
</div></div>
