---
layout: default
title: "French Pressicus-Technicalus"
description: the common cafe nerd
---

<div id="home" class="row">
  <div class="col-sm-9">
    <div class="list-group posts">
    {% for post in site.posts %}
      <a href="{{ post.url }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ post.title }}<small class="pull-right">{{ post.date | date_to_string }}</small></h4>
      {% if post.description %}
        <p class="list-group-item-text">{{ post.description }}</p>
      {% endif %}
      </a>
    {% endfor %}
    </div>
  </div>
  <div class="col-sm-3">
    <div class="list-group posts">
    {% for post in site.pages %}{% if post.url != page.url and post.title != null %}
      <a href="{{ post.url }}" title="{{ post.description }}" class="list-group-item">
        <h4 class="list-group-item-heading">{{ post.title }}</h4>
      </a>
    {% endif %}{% endfor %}
    </div>
    <div class="list-group">
      <a class="list-group-item" href="http://github.com/{{ site.me.github }}/">Github</a>
      <a class="list-group-item" href="http://twitter.com/{{ site.me.twitter }}/">Twitter</a>
      <a class="list-group-item" href="http://facebook.com/ericdrex/">Facebook</a>
      <a class="list-group-item" href="irc://irc.freenode.net/#pdxtech">IRC</a>
    </div>
  </div>
</div>
