<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    
    <a class="navbar-brand" href="/" title="{{ site.description }}">{% include icon.html icon="coffee" scale="lg" %} {{ site.name }}</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-main-collapse">

    {% if page.path and site.github.repo and site.github.branch %}
    <ul class="nav navbar-nav navbar-right">
      <li>
        <a href="/latest/">{% include icon.html icon="clock-o" %} latest</a>
      </li>
      <li>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% include icon.html icon="th-large" %} sections</a>
        <ul class="dropdown-menu">
        {% for post in site.pages %}{% if post.tags contains "main" and post.url != page.url and post.title != null %}
          <li><a href="{{post.url}}">{% include post_icon.html post=post fixed=true %} {{post.title}}</a></li>
        {% endif %}{% endfor %}
      </ul>
        </li>
    </ul>
    {% endif %}

  </div>
</nav>
