<div class="post-summary media">
  <div class="pull-left" href="#">
    <div class="media-object">
      {% include post_icon.html post=include.post classes="icon-fixed-width icon-2x" %}
    </div>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a href="{{ include.post.url }}">{{ include.post.title }}</a></h4>
  {% if include.post.description %}
    <p class="description">{{ include.post.description }}</p>
  {% endif %}
    <div class="labels">
      {% if include.post.date %}<span class="label label-info">{{ include.post.date | date_to_string }}</span>{% endif %}
      {% unless include.hide_tags %}
        {% for tag in include.post.tags %}
          {% include tag.html tag=tag %}
        {% endfor %}
      {% endunless %}
    </div>
  </div>
</div>

