---
title: Tags
permalink: tags/
layout: default
---


{% for tag in site.tags %}
<h2 id="tag-{{ tag[0] }}"><span class="tag label label-default"><i class="icon-tag icon-large"></i> {{tag[0]}}</span></h2>

<ul>
{% for p in tag[1] %}
<li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}

<h2 id="tag-untagged"><span class="tag label label-default"><i class="icon-ban-circle icon-large"></i> untagged</span></h2>

<ul>
{% for p in site.posts %}{% if p.tags == empty %}
<li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endif %}{% endfor %}
</ul>

<h2 id="tag-untagged"><span class="tag label label-default"><i class="icon-frown icon-large"></i> orphan pages</span></h2>

<ul>
    {% for post in site.pages %}{% unless post.tags contains "main" %}{% if post.url != '/' and post.title != null %}
      <li>
        <a href="{{ post.url }}" title="{{ post.description | strip_html }}">
          {% if post.icon %}<i class="icon-{{ post.icon }}"></i>{% endif %} {{ post.title }}
        </a>
      </li>
    {% endif %}{% endunless %}{% endfor %}
</ul>
