---
title: Tags
published: true
permalink: tags/
layout: default
---


{% for tag in site.tags %}
<h2 id="tag-{{ tag[0] }}">{{ tag[0] }}</h2>

<ul>
{% for p in tag[1] %}
<li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}

<h2 id="tag-{{ tag[0] }}">untagged</h2>

<ul>
{% for p in site.posts %}{% if p.tags == empty %}
<li><a href="{{ p.url }}">{{ p.title }}</a></li>
{% endif %}{% endfor %}
</ul>

<h2 id="tag-{{ tag[0] }}">non-main pages</h2>

<ul>
    {% for post in site.pages %}{% unless post.tags contains "main" %}{% if post.url != '/' and post.title != null %}
      <li>
        <a href="{{ post.url }}" title="{{ post.description | strip_html }}">
          {% if post.icon %}<i class="icon-{{ post.icon }}"></i>{% endif %} {{ post.title }}
        </a>
      </li>
    {% endif %}{% endunless %}{% endfor %}
</ul>
