---
title: Tags
permalink: tags/
layout: default
icon: tags
tags: main
---

<p>Why, you may ask, do I have all the tags listed on one page? Github pages can't generate a page for each tag. This will just have to do for now.</p>


<div id="accordian">
{% for tag in site.tags %}
  <h4 class="tag"><a class="label label-default" data-toggle="collapse" data-parent="#accordion" href="#tag-{{tag[0]}}">{{tag[0]}}</a></h4>
  <ul id="tag-{{tag[0]}}" class="collapse">
  {% for p in tag[1] %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endfor %}
  </ul>
{% endfor %}
  <h4><a class="label label-default" data-toggle="collapse" data-parent="#accordion" href="#untagged"><i class="icon-ban-circle icon-large"></i> untagged</a></h4>
  <ul id="untagged" class="collapse">
  {% for p in site.posts %}{% if p.tags == empty %}
    <li><a href="{{ p.url }}">{{ p.title }}</a></li>
  {% endif %}{% endfor %}
  </ul>

  <h4><a class="label label-default" data-toggle="collapse" data-parent="#accordion" href="#orphans"><i class="icon-frown icon-large"></i> orphan pages</a></h4>
  <ul id="orphans" class="collapse">
      {% for post in site.pages %}{% unless post.tags contains "main" %}{% if post.url != '/' and post.title != null %}
        <li>
          <a href="{{ post.url }}" title="{{ post.description | strip_html }}">
            {% if post.icon %}<i class="icon-{{ post.icon }}"></i>{% endif %} {{ post.title }}
          </a>
        </li>
      {% endif %}{% endunless %}{% endfor %}
  </ul>
</div>
