---
title: Firebase + Angular Dive
tag: thing-a-day
description: |
  Using <a href="http://angularfire.com/">Angularfire</a>
layout: default
header: |
  <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.js'></script>
  <script src='https://cdn.firebase.com/v0/firebase.js'></script>
  <script src='https://cdn.firebase.com/v0/firebase-simple-login.js'></script>
  <script src='https://cdn.firebase.com/libs/angularfire/0.3.0/angularfire.js'></script>
  <script>


    var app = angular.module("myapp", ["firebase"]);
    function MyController($scope, angularFireCollection, angularFireAuth) {
      var ref = new Firebase('https://tinyfish.firebaseio.com/');
      angularFireAuth.initialize(ref, {scope: $scope, name: "user"});
      var messagesRef = ref.child('messages');

      $scope.messages = angularFireCollection(messagesRef);
      // $scope.messages = [];
      // angularFire(ref.child('messages'), $scope, "messages");
      $scope.addMessage = function(e) {
        if (e.keyCode != 13) return;
        $scope.messages.add({name: $scope.user.name, user_id: $scope.user.id, provider: $scope.user.provider, text: $scope.text});
        $scope.text = "";
      };

      $scope.login = function(provider) {
        angularFireAuth.login(provider);
      };
      $scope.logout = function() {
        angularFireAuth.logout();
      };
    }
  </script>
---
<div ng-app="myapp">
{% raw %}
  <div ng-controller="MyController">
    <p>The first thing I tried after getting the basic chat room tutorial app working was authentication. Firebase has social authentication built in. Other providers are supported, I just didn't enable them.</p>

    <div class="alert alert-success" ng-show="user">
      You are logged in as <i class="icon-{{user.provider}}"> {{user.name}}</i> | <a ng-click="logout()">Logout</a>
    </div>
    <div class="alert alert-danger" ng-hide="user"><p>You are not logged in. </p><p>Log in with  <a ng-click="login('twitter')">Twitter</a> or <a ng-click="login('github')">Github</a></p></div>

    <p>Being logged in is great, but I wanted to add some protected actions. I modified the chat app so that you are <a href="https://gist.github.com/edrex/6626021">only allowed</a> to post a message if you are logged in.</p>

    <div id="messagesDiv">
      <div ng-repeat="msg in messages"><em><i class="icon-{{msg.provider}}"></i> {{msg.name}}</em>: {{msg.text}}</div>
    </div>

    <input type="text" ng-show="user" ng-model="text" ng-keydown="addMessage($event)" placeholder="Message...">

  </div>
{% endraw %}
</div>
