<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
        <title>{{ page.title | strip_html }} | {{ site.name }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/assets/css/syntax.css">

        <link rel="shortcut icon" href="/assets/favicon.ico" />

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/assets/css/application.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">

        <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
        <script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
        <script type="text/javascript">
            $(function () {
                $("[rel='tooltip']").tooltip();
            });
        </script>

        {{ page.header }}

        {% include analytics.html %}
    </head>
    <body>
          {% include menu.html %}
      <div class="container site">
        <div class="page-header">
          <p class="page-info pull-right">
          {% if page.date %}
            <span class="label label-info date">{{ page.date | date_to_string }}</span>
          {% endif %}
          {% for tag in page.tags %}
            {% include tag.html tag=tag %}
          {% endfor %}
            <a class="label label-warning" href="http://prose.io/#{{ site.github.repo }}/edit/{{ site.github.branch }}/{{ page.path }}">{% include icon.html icon="code" %} edit</a>

          </p>
          <h1 class="title">
            {% include post_icon.html post=page %} {{ page.title }}
            <small>{{ page.description }}</small> 
          </h1>
        </div>

        <div class="page-body">
          {{ content }}
        </div>
        </div>
      </div> <!-- /container -->
    </body>
</html>
