<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Loading Bootstrap -->
        <link href="/css/bootstrap3.css" rel="stylesheet">
        <link href="/css/bootstrap-glyphicons.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/site.css">

    </head>
    <body>

        <div class="container site">
          <div class="page-header">
            <div class="pull-right">
              <div class="post-edit">
                <a class="glyphicon glyphicon-edit pull-right" href="{% if page.path %}//prose.io/#edrex/edrex.github.io/edit/master/{{ page.path }}{% else %}//prose.io/#edrex/edrex.github.io{% endif %}"></a>
              </div> 
            {% if page.date %}
              <div class="page-date pull-right">{{ page.date | date_to_string }}</div>
            {% endif %}
            </div>
            <h1 class="title">{% if page.url != '/' %}<a href="/" title="{{ site.name }}">..</a>{% endif %} {{ page.title }}  <!-- Edit current page -->
              <div >
                <small class="description">
                  {{ page.description }}
                </small>
              </div>
            </h1>
            </div>
          <div class="content">
            {{ content }}
          </div>
          <i class="pull-right">Eric Drechsel, Investigative Nerd</i>
        </div> <!-- /container -->

    </body>
</html>
